<div class="row my-2">
  <div class="col-12 filter-bar">
    <input [(ngModel)]="searchTerm" class="form-control mr-sm-2" type="text" placeholder="Filter by name" aria-label="Filter">
  </div>
</div>
<div class="row">
  <div *ngFor="let character of characters | filter : searchTerm | sortBy: 'name'" class="col-lg-6 col-xl-4 character-container">
    <div class="character-content bg-dark">
      <h2 class="character-name">{{ character.name }}</h2>
      <div>
        <p class="character-info-item"><span class="character-info-item-label">Gender:</span> {{ character.gender }}</p>
        <p class="character-info-item"><span class="character-info-item-label">Hair Color:</span> {{ character.hair_color }}</p>
        <p class="character-info-item"><span class="character-info-item-label">Skin Color:</span> {{ character.skin_color }}</p>
        <p class="character-info-item"><span class="character-info-item-label">Eye Color:</span> {{ character.eye_color }}</p>
      </div>
      <div class="details-btn-container">
        <a class="btn btn-secondary" role="button" (click)="router.navigate(['characters', character.id]);">View details »</a>
      </div>
    </div>
  </div>
</div>
