<div *ngIf="selSpecie">
  <div class="specie-name">
    <h4>{{ selSpecie.name }}</h4>
  </div>
  <hr>
  <div class="specie-content">
    <label><b>Classification:</b> {{ selSpecie.classification }}</label>
    <br>
    <label><b>Designation:</b> {{ selSpecie.designation }}</label>
    <br>
    <label><b>Average Height:</b> {{ selSpecie.average_height }}</label>
    <br>
    <label><b>Eye color:</b> {{ selSpecie.eye_colors }}</label>
    <br>
    <label><b>Skin color:</b> {{ selSpecie.skin_colors }}</label>
    <br>
    <label><b>Hair color:</b> {{ selSpecie.hair_colors }}</label>
    <br>
    <label><b>Average Lifespan:</b> {{ selSpecie.average_lifespan }}</label>
    <br>
    <label><b>Homeworld:</b> <a (click)="redirect(homeworld, 5)">{{ homeworld }}</a></label>
    <br>
    <label><b>Language:</b> {{ selSpecie.language }}</label>
    <hr>
    <div class="row">
      <div class="col">
        <label><b>Films:</b></label>
        <div *ngFor="let name of filmNames">
          <a (click)="redirect(name, 0)">{{ name }}</a>
        </div>
      </div>
      <div class="col">
        <label><b>Characters:</b></label>
        <div *ngFor="let name of characterNames">
          <a (click)="redirect(name, 1)">{{ name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!selSpecie">
  Use the left menu to navigate through the species.
</div>
