<div class="row my-2">
  <div class="col-12 filter-bar">
    <input [(ngModel)]="searchTerm" class="form-control mr-sm-2" type="text" placeholder="Filter by title" aria-label="Filter">
  </div>
</div>
<div class="row">
  <div *ngFor="let film of films | filter : searchTerm | sortBy: 'episode_id'" class="col-lg-6 col-xl-4 film-container">
    <div class="film-content bg-dark">
      <h2 class="film-title">{{ film.title }}</h2>
      <div class="film-resume-details">
        <p>{{ film.opening_crawl }}</p>
      </div>
      <div class="details-btn-container">
        <a class="btn btn-secondary" role="button" (click)="router.navigate(['films', film.episode_id]);">View details »</a>
      </div>
    </div>
  </div>
</div>
