.film-container {
  padding: 5px;
}

.film-content {
  background-color: grey;
  padding: 5px 10px 10px 10px;
  border: 1px solid #FFC500;
  border-radius: 5px;
  color: white;
}

.film-title {
  text-align: center;
  color: #FFC500;
}

.film-resume-details {
  text-align: justify;
  padding: 5px;
}

.details-btn-container {
  display: flex;
  justify-content: flex-end;
}

.filter-bar {
  padding: 5px;
}
