<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <ul class="nav nav-tabs">
        <button 
          class="btn"
          [ngClass]="{'selected-tab': filmsSelected}"
          (click)="onFilmsSelected()"> 
            Films
        </button>
        <button 
          class="btn"
          [ngClass]="{'selected-tab': charactersSelected}"
          (click)="onCharacterSelected()"> 
            Characters
        </button>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <app-films [hidden]="!filmsSelected"></app-films>
      <app-characters [hidden]="!charactersSelected"></app-characters> 
    </div>
  </div>
</div>
