<div class="container">
  <div class="app-header">
    <h1>Star Wars Wiki</h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <ul class="nav nav-tabs" style="margin: 5px 0px">
        <button 
          class="btn"
          [ngClass]="{'selected-tab': filmsSelected}"
          (click)="onFilmsSelected()"> 
            Films
        </button>
        <button 
          class="btn"
          [ngClass]="{'selected-tab': charactersSelected}"
          (click)="onCharacterSelected()"> 
            Characters
        </button>
        <button 
          class="btn"
          [ngClass]="{'selected-tab': vehiclesSelected}"
          (click)="onVehiclesSelected()"> 
            Vehicles
        </button>
        <button 
          class="btn"
          [ngClass]="{'selected-tab': starshipsSelected}"
          (click)="onStarshipsSelected()"> 
            Starships
        </button>
        <button 
          class="btn"
          [ngClass]="{'selected-tab': speciesSelected}"
          (click)="onSpeciesSelected()"> 
            Species
        </button>
        <button 
          class="btn"
          [ngClass]="{'selected-tab': planetsSelected}"
          (click)="onPlanetsSelected()"> 
            Planets
        </button>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <app-films [hidden]="!filmsSelected"></app-films>
      <app-characters [hidden]="!charactersSelected"></app-characters>
      <app-vehicles [hidden]="!vehiclesSelected"></app-vehicles> 
      <app-starships [hidden]="!starshipsSelected"></app-starships> 
      <app-species [hidden]="!speciesSelected"></app-species> 
      <app-planets [hidden]="!planetsSelected"></app-planets>
    </div>
  </div>
  <hr style="margin: 5px 0px">
  <div class="app-footer">
    <p style="margin: 0px">&copy;Vinicius Cechin 2018. Powered by <a target="_blank" href="https://swapi.co/">SWAPI</a></p>
  </div>
</div>
