<div *ngIf="selFilm">
  <div class="film-title">
    Title: {{ selFilm.title }}
  </div>
  <hr>
  <div class="film-content">
    <label>Director: {{ selFilm.director }}</label>
    <br>
    <label>Producer: {{ selFilm.producer }}</label>
    <br>
    <label>Opening Crawl: {{ selFilm.crawl }}</label>
    <br>
    <label>Release Date: {{ selFilm.release }}</label>
    <br>
    <div class="row">
      <div class="col">
        <label>Characters:</label>
        <div *ngFor="let name of characterNames">
          <a (click)="redirect(name, 1)">{{ name }}</a>
        </div>
      </div>
      <div class="col">
        <label>Vehicles:</label>
        <div *ngFor="let name of vehicleNames">
          <a (click)="redirect(name, 2)">{{ name }}</a>
        </div>
      </div>
      <div class="col">
        <label>Starships:</label>
        <div *ngFor="let name of starshipNames">
          <a (click)="redirect(name, 3)">{{ name }}</a>
        </div>
      </div>
      <div class="col">
        <label>Species:</label>
        <div *ngFor="let name of specieNames">
          {{ name }}
        </div>
      </div>
      <div class="col">
        <label>Planets:</label>
        <div *ngFor="let name of planetNames">
          <a>{{ name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!selFilm">
  Plase select a film to show its details
</div>

<!-- 
public planets: string[],
public species: string[],
public vehicles: string[] -->
