<div *ngIf="selStarship">
  <div class="starship-name">
    <h4>{{ selStarship.name }}</h4>
  </div>
  <hr>
  <div class="starship-content">
    <label><b>Model:</b> {{ selStarship.model }}</label>
    <br>
    <label><b>Manufacturer:</b> {{ selStarship.manufacturer }}</label>
    <br>
    <label><b>Cost:</b> {{ selStarship.cost_in_credits }} credits</label>
    <br>
    <label><b>Length:</b> {{ selStarship.length }}</label>
    <br>
    <label><b>Max Speed:</b> {{ selStarship.max_atm_speed }}</label>
    <br>
    <label><b>Crew:</b> {{ selStarship.crew }}</label>
    <br>
    <label><b>Passangers:</b> {{ selStarship.passengers }}</label>
    <br>
    <label><b>Cargo Capacity:</b> {{ selStarship.cargo_capacity }}</label>
    <br>
    <label><b>Consumables:</b> {{ selStarship.consumables }}</label>
    <br>
    <label><b>Hyperdrive Rating:</b> {{ selStarship.hyperdrive_rating }}</label>
    <br>
    <label><b>MGLT:</b> {{ selStarship.MGLT }}</label>
    <br>
    <label><b>Class:</b> {{ selStarship.starship_class }}</label>
    <hr>
    <div class="row">
      <div class="col">
        <label><b>Films:</b></label>
        <div *ngFor="let name of filmNames">
          <a (click)="redirect(name, 0)">{{ name }}</a>
        </div>
      </div>
      <div class="col">
        <label><b>Pilotes:</b></label>
        <div *ngFor="let name of characterNames">
          <a (click)="redirect(name, 1)">{{ name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!selStarship">
  Use the left menu to navigate through the starships.
</div>
