label {
  margin-bottom: 0px;
}

.planet-name {
  margin-top: 15px;
}

.planet-content a {
  color: #007bff;
  cursor: pointer;
}

.planet-content a:hover {
  color: #000bff;
  text-decoration: underline;
}
