<div class="row loading-page">
  <div class="col-12" style="text-align: center">
    <br>
    <div>
      <h1>
        Welcome to <br> Star Wars Wiki
      </h1>
    </div>
    <br>
    Your websource of Star Wars information, provided by SWAPI.
    <br>
    <br>
    <div class="instructions-container">
      <div class="instructions-header"><b>How to use it</b></div>
      You can use the navigation bar above to check info about movies, characters, species, planets, vehicles or starships of the first seven episodes.
      <br><br>
      You can also use the filter of each section to look for a specific item you'd like to know more about, so you don't need to keep scrolling to find your favorite character - which it's obviously C3PO.
      <div class="instructions-header"><b>Possible problems</b></div>
      On some browsers it is possible that the data from the API can't be loaded. It is due to a problem with CORS. On Chrome you can solve it by downloading <a style="color: #FFC500" href="https://chrome.google.com/webstore/detail/moesif-origin-cors-change/digfbfaphojjndkpccljibejjbppifbc?hl=en" target="_blank">this extension</a>.
    </div>

  </div>
</div>
