<div *ngIf="selChar">
  <div class="character-name">
    Name: {{ selChar.name }}
  </div>
  <hr>
  <div class="character-content">
    <label>Eye color: {{ selChar.eye_color }}</label>
    <br>
    <label>Skin color: {{ selChar.skin_color }}</label>
    <br>
    <label>Hair color: {{ selChar.hair_color }}</label>
    <br>
    <label>Gender: {{ selChar.gender }}</label>
    <br>
    <label>Height: {{ selChar.height }}</label>
    <br>
    <label>Mass: {{ selChar.mass }}</label>
    <br>
    <label>Birth year: {{ selChar.birth_year }}</label>
    <br>
    <label>Homeworld: {{ homeworld }}</label>
    <br>
    <div class="row">
      <div class="col">
        <label>Films:</label>
        <div *ngFor="let name of filmNames">
          <a (click)="redirect(name, 0)">{{ name }}</a>
        </div>
      </div>
      <div class="col">
        <label>Vehicles:</label>
        <div *ngFor="let name of vehicleNames">
          <a (click)="redirect(name, 2)">{{ name }}</a>
        </div>
      </div>
      <div class="col">
        <label>Starships:</label>
        <div *ngFor="let name of starshipNames">
          <a (click)="redirect(name, 3)">{{ name }}</a>
        </div>
      </div>
      <div class="col">
        <label>Species:</label>
        <div *ngFor="let name of specieNames">
          {{ name }}
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!selChar">
  Plase select a character to show its details
</div>
